@CHARSET "ISO-8859-1";
body{
	background: #FFFFFF;
}
#principal{
	position: absolute;
	left:25%;
}
#formulario{
	height: 530px;
	border: 1px solid;
	width: 698px;
}
#topo{

	background: #9C27B0;
	width: 700px;
	height: 100px;
}

.imagem img{
	
	width: 30%;	
	margin-top: 15px;
	margin-left: 45px;
}

hgroup { 
	text-align:;
	margin-top:0px;
}
form {
	width: 630px;
	padding: 3em 2em 3em 2em;
	background: #FFF ;
	margin-top: 0px;
	
	
}

input {
	font-size: 18px;
	padding: 5px 5px 5px 5px;
	width: 100%;
}

#button_enviar a button{  
  width: 100px;
  height: 30px;
  color:#FFF  ;
  background: #7B1FA2;
  border: 0;
  margin-top: -20px;
  margin-left: 30px;
 	text-decoration: none;
}

#button_cadastro a button{  
  width: 100px;
  height: 30px;
  color:#FFF  ;
  background: #388E3C;
  border: 0;
  margin-top: 3px;
	margin-left: 30px;
}
